[submodule "subworkflows/gte21-custom-genome"]
	path = subworkflows/gte21-custom-genome
	url = https://github.com/mal2017/gte21-custom-genome
[submodule "subworkflows/gte21-ica-grid"]
	path = subworkflows/gte21-ica-grid
	url = https://github.com/mal2017/gte21-ica-grid
[submodule "subworkflows/gte21-scrna"]
	path = subworkflows/gte21-scrna
	url = https://github.com/mal2017/gte21-scrna
[submodule "subworkflows/gte21-y-hetchrom"]
	path = subworkflows/gte21-y-hetchrom
	url = https://github.com/mal2017/gte21-y-hetchrom
[submodule "subworkflows/gte21-tidal-xa"]
	path = subworkflows/gte21-tidal-xa
	url = https://github.com/mal2017/gte21-tidal-xa
[submodule "subworkflows/transposon-variants-hts"]
	path = subworkflows/transposon-variants-hts
	url = https://github.com/mal2017/transposon-variants-hts
[submodule "subworkflows/gte21-te-variant-expression"]
	path = subworkflows/gte21-te-variant-expression
	url = https://github.com/mal2017/gte21-te-variant-expression.git
[submodule "subworkflows/gte21-star-bulk-tpn"]
	path = subworkflows/gte21-star-bulk-tpn
	url = https://github.com/mal2017/gte21-star-bulk-tpn
