*.smk linguist-language=Python
Snakefile linguist-language=Python
resources/dmel-all-chromosome-r6.22.fasta.masked filter=lfs diff=lfs merge=lfs -text
resources/dmel_repbase_lib.fasta filter=lfs diff=lfs merge=lfs -text
resources/hetchrom_dmel_scaffold2_V5.fasta filter=lfs diff=lfs merge=lfs -text
resources/210215_accord2_calfluor610_eachm_quasar670_3p4-2.slices_1_1.representative.png filter=lfs diff=lfs merge=lfs -text
resources/210215_accord2_calfluor610_eachm_quasar670_3p4.slices_1_1.split_channels.png filter=lfs diff=lfs merge=lfs -text
resources/210215_accord2_calfluor610_eachm_quasar670_3p4.slices_1_30.montage.slices_1_30.montage.png filter=lfs diff=lfs merge=lfs -text
resources/210204_dapi_quasimodo2_calfluor61_eachm_quasar670p.slices_1_1.representative.png filter=lfs diff=lfs merge=lfs -text
resources/210204_dapi_quasimodo2_calfluor61_eachm_quasar670p.slices_1_22_x2.montage.png filter=lfs diff=lfs merge=lfs -text
resources/dmel-all-chromosome-r6.22.fasta.out.bed filter=lfs diff=lfs merge=lfs -text
